@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.background-container-main {
    color: black;
}

.header {
    position: absolute;
    top: 150px;
    left: 91px;
}

.header-text {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.form-container {
    position: absolute;
    top: calc(150px + 100px);
    left: 91px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form {
    display: flex;
    gap: 43px;
}

.error-message {
    color: #8A2323;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    color: #fff;
}

.error-label {
    color: #8A2323;
}
